body {
    font-family: Arial; /* задаем шрифт */
    margin: 0; /* Устанавливает величину отступа от каждого края элемента */
  }
  
  * {
    box-sizing: border-box; /* Применяется для изменения алгоритма расчёта ширины и высоты элемента */
  }
  
  img {
    vertical-align: middle; /* управляет вертикальным выравниванием элементов внутри своих родителей */
  }
  

  .container {
    position: relative; /* позволяет установить или изменить положение элемента */
  }
  
  
  .mySlides {
    display: none; /* отвечает за вывод и визуальное отображение элементов на странице */
  }
  
 
  .cursor {
    cursor: pointer; /* устанавливает форму курсора, когда он находится в пределах элемента */
  }
  
  
  .prev,
  .next {
    cursor: pointer; /* устанавливает форму курсора, когда он находится в пределах элемента */
    position: absolute; /* позволяет установить или изменить положение элемента */
    top: 40%; /* определяет расстояние от верхнего края элемента до верхнего края его ближайшего родительского элемента */
    width: auto; /* задаем ширинуы */
    padding: 16px; /* устанавливает внутренние отступы/поля со всех сторон элемента */
    margin-top: -50px; /* определяет внешний отступ в верхней части элемента */
    color: white; /* определяем цвет */
    font-weight: bold; /* задаем стил текста */
    font-size: 20px; /* задаем размер шрифта */
    border-radius: 0 3px 3px 0; /* свойство, позволяющее определять, как скругляются границы блока */
    user-select: none; /* Управляет поведением выделения текста и других элементов на странице, в частности, позволяет запретить выделение текста */
    -webkit-user-select: none; /* Управляет поведением выделения текста и других элементов на странице, в частности, позволяет запретить выделение текста */
  }
  
 
  .next {
    right: 0; /* влияет на горизонтальное положение позиционного элемента */
    border-radius: 3px 0 0 3px; /* свойство, позволяющее определять, как скругляются границы блока */
  }
  
  
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8); /* задаем цвет фона */
  }
  
  /* номер текста (1, 3) и т д */
  .numbertext {
    color: #f2f2f2; /* задаем цвет */
    font-size: 12px; /* размер шрифта */
    padding: 8px 12px; /* устанавливает внутренние отступы/поля со всех сторон элемента */
    position: absolute; /* позволяет установить или изменить положение элемента */
    top: 0; /* определяет расстояние от верхнего края элемента до верхнего края его ближайшего родительского элемента */
  }
  
  /* Контейнер для image text */
  .caption-container {
    text-align: center; /* выравниваем текст по центру */
    background-color: #222; /* цвет фона */
    padding: 2px 16px; /* устанавливает внутренние отступы/поля со всех сторон элемента */
    color: white; /* задаем цвет */
  }
  
  .row:after {
    content: ""; /* позволяет вставлять генерируемое содержание в текст веб-страницы, которое первоначально в тексте отсутствует */
    display: table; /* отвечает за вывод и визуальное отображение элементов на странице */
    clear: both; /* сообщает браузеру, как обрабатывать следующую строку, если текст обтекает плавающий элемент */
  }
  
  /* Шесть колонок сайд бай сайд */
  .column {
    float: left; /* Определяет, по какой стороне будет выравниваться элемент, при этом остальные элементы будут обтекать его с других сторон */
    width: 16.66%; /* задаем ширину*/
  }
  
 
  .demo {
    opacity: 0.6; /* делаем прозрачность */
  }
  
  .active,
  .demo:hover {
    opacity: 1; /* делаем прозрачность */
  }