body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif; /* Задаем шрифт */
    text-align: center; /* Размещаем контент по центру на странице */
}

input[type=text], select {
    width: auto; /* Делаем размер авто */
    padding: 12px 20px; /* внутренние отступы/поля со всех сторон элемента */
    margin: 8px 0; /* Устанавливает величину отступа от каждого края элемента */
    display: inline-block; /* отвечает за вывод и визуальное отображение элементов на странице */
    border: 1px solid #ccc; /* Устанавливает толщину рамки таблицы в пикселях */
    border-radius: 4px; /* свойство, позволяющее разработчикам определять, как скругляются границы блока */
    box-sizing: border-box; /* Применяется для изменения алгоритма расчёта ширины и высоты элемента */
  }

  .button {
    background-color: black; /* цвет фона ставим зеленый */
    border: none; /* Устанавливает толщину рамки таблицы в пикселях */
    color: white; /* цвет текста ставим зеленый */
    padding: 15px 32px; /* внутренние отступы/поля со всех сторон элемента */
    text-align: center; /* стави текст по центру */
    text-decoration: none; /* Добавляет оформление текста в виде его подчёркивания, перечёркивания или линии над текстом */
    display: inline-block; /* отвечает за вывод и визуальное отображение элементов на странице */
    font-size: 16px; /* указываем размер шрифта */
    margin: 4px 2px; /* Устанавливает величину отступа от каждого края элемента */
    cursor: pointer; /* устанавливает форму курсора, когда он находится в пределах элемента */
  }

  
  .select {
    width: 100%; /* Делаем размер авто */
    min-width: 15ch; /* устанавливает max ширину элемента */
    max-width: 30ch; /* устанавливает min ширину элемента */
    border: 1px solid var(--select-border); /* Устанавливает толщину рамки таблицы в пикселях */
    border-radius: 0.25em; /* свойство, позволяющее определять, как скругляются границы блока */
    padding: 0.25em 0.5em; /* внутренние отступы/поля со всех сторон элемента */
    font-size: 1.25rem; /* внутренние отступы/поля со всех сторон элемента */
    cursor: pointer; /* устанавливает форму курсора, когда он находится в пределах элемента */
    line-height: 1.1; /* устанавливает величину пространства между строками, например в тексте */
    background-color: #fff; /* задаем цвет фона */
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%); /* задаем задний фон */
    text-align: center; /* Размещаем контент по центру на странице */
  }
  